# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_NAME=db_tim2
DB_USER=root
DB_PASSWORD=your_db_password

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379

# Mail Configuration
MAIL_USER=your_email@gmail.com
MAIL_PASS=your_email_app_password

# Security Configuration
APP_PEPPER=your_pepper_key
KEYCLOAK_SECRET=your_keycloak_secret

# Frontend Config
FRONTEND_URL=http://localhost:3000

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
